PORT=3000
DATABASE_URL="mongodb://localhost:27017/resumes"
# 4.1-mini
# OPENAI_API_KEY=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
# 5.0
OPENAI_API_KEY=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
